# Playing with Pandas Dataframe

<h2>To open jupyter notebook in vscode</h2>
<ol>
<li>Install Anaconda</li>
<li>Install python extension in vscode</li>
<li>Open command palette using ctrl+shift+p and choose python interpretor</li>
<li>In command palette, type "new notebook"</li>
<li>You might need to install ipykernel, vscode will do it, just run a simple python command like print("Hello")</li>
</ol>

<h2>Pandas Dataframe Basic Commands</h2>

In [18]:
#https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/
print("Hello")
import pandas as pd
# Simple way to create a dataframe using dictionary(name, value pairs)
data={
    "melons":[0,3,4,2],
    "grapes":[8,7,5,4]
}
#index of dataframe will be created automatically
shopping = pd.DataFrame(data)
shopping.head()
shopping = pd.DataFrame(data, index=["Jan", "Feb", "Mar","Apr"])
shopping.head()
shopping.loc["Mar"]

Hello

melons    4
grapes    5
Name: Mar, dtype: int64

In [19]:
# Read a file
df = pd.read_csv(r"C:\Users\A\jupyter practice\ABS_age_notebook\ABS_age.csv")
#for json, which is just like python dictionary
#for making an existing column the index column
#df = pd.read_csv('purchases.csv', index_col=0)
#pd.read_json()
df.head()
#save the file
#df.to_csv(r"C:\Users\A\jupyter practice\ABS_age_notebook\ABS_age_clean.csv")

C:\Users\A\AppData\Local\Temp\ipykernel_6048\3021414992.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\A\jupyter practice\ABS_age_notebook\ABS_age.csv")

,SEX_ABS,Sex,AGE,Age,STATE,State,REGIONTYPE,Geography Level,ASGS_2016,Region,TIME,Census year,Value,Flag Codes,Flags
0,1,Males,TT,All ages,1,New South Wales,SA4,Statistical Area Level 4,102,Central Coast,2011,2011,150704,NaN,NaN
1,1,Males,TT,All ages,1,New South Wales,SA4,Statistical Area Level 4,102,Central Coast,2016,2016,158768,NaN,NaN
2,2,Females,TT,All ages,1,New South Wales,SA4,Statistical Area Level 4,102,Central Coast,2011,2011,161484,NaN,NaN
3,2,Females,TT,All ages,1,New South Wales,SA4,Statistical Area Level 4,102,Central Coast,2016,2016,168972,NaN,NaN
4,3,Persons,TT,All ages,1,New South Wales,SA4,Statistical Area Level 4,102,Central Coast,2011,2011,312182,NaN,NaN

In [20]:
df.tail(5)

,SEX_ABS,Sex,AGE,Age,STATE,State,REGIONTYPE,Geography Level,ASGS_2016,Region,TIME,Census year,Value,Flag Codes,Flags
75109,1,Males,115,115 years and over,9,Other Territories,SA4,Statistical Area Level 4,999,Special Purpose Codes (SA4) (OT),2016,2016,0,NaN,NaN
75110,2,Females,115,115 years and over,9,Other Territories,SA4,Statistical Area Level 4,999,Special Purpose Codes (SA4) (OT),2011,2011,0,NaN,NaN
75111,2,Females,115,115 years and over,9,Other Territories,SA4,Statistical Area Level 4,999,Special Purpose Codes (SA4) (OT),2016,2016,0,NaN,NaN
75112,3,Persons,115,115 years and over,9,Other Territories,SA4,Statistical Area Level 4,999,Special Purpose Codes (SA4) (OT),2011,2011,0,NaN,NaN
75113,3,Persons,115,115 years and over,9,Other Territories,SA4,Statistical Area Level 4,999,Special Purpose Codes (SA4) (OT),2016,2016,0,NaN,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75114 entries, 0 to 75113
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SEX_ABS          75114 non-null  int64
 1   Sex              75114 non-null  object
 2   AGE              75114 non-null  object
 3   Age              75114 non-null  object
 4   STATE            75114 non-null  int64
 5   State            75114 non-null  object
 6   REGIONTYPE       75114 non-null  object
 7   Geography Level  75114 non-null  object
 8   ASGS_2016        75114 non-null  int64
 9   Region           75114 non-null  object
 10  TIME             75114 non-null  int64
 11  Census year      75114 non-null  int64
 12  Value            75114 non-null  int64
 13  Flag Codes       0 non-null      float64
 14  Flags            0 non-null      float64
dtypes: float64(2), int64(6), object(7)
memory usage: 8.6+ MB

In [22]:
#displays total rows and columns
df.shape

(75114, 15)

In [23]:
#not working
#to find duplicates
#temp_df = df.append(df)
#temp_df.shape

In [24]:
#check for duplicates
temp_df = df.drop_duplicates()
temp_df.shape

(75114, 15)

In [34]:
temp_df = pd.concat([df,df])
temp_df.shape

(150228, 15)

In [36]:
#keep can be "first", "last", False
#temp_df.drop_duplicates(inplace=True, keep=False)
temp_df.drop_duplicates(inplace=True, keep="last")
temp_df.shape

(75114, 15)

In [37]:
#get columns names
df.columns

Index(['SEX_ABS', 'Sex', 'AGE', 'Age', 'STATE', 'State', 'REGIONTYPE',
       'Geography Level', 'ASGS_2016', 'Region', 'TIME', 'Census year',
       'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [42]:
df.rename(columns = {
    "Geography Level":"Geography_Level",
    "Census year" : "Census_year",
    "Flag Codes" : "Flag_Codes"
}, inplace=True)
df.columns

Index(['sex_abs', 'sex', 'age', 'age', 'state', 'state', 'regiontype',
       'geography_level', 'asgs_2016', 'region', 'time', 'census_year',
       'value', 'flag_codes', 'flags'],
      dtype='object')

In [43]:
#make column name lowercase
df.columns = [col.lower() for col in df]
df.columns

Index(['sex_abs', 'sex', 'age', 'age', 'state', 'state', 'regiontype',
       'geography_level', 'asgs_2016', 'region', 'time', 'census_year',
       'value', 'flag_codes', 'flags'],
      dtype='object')